<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Edit Province</title>
</head>
<body>
<div>
    <form th:action="@{/province/edit}" method="post" th:object="${province}">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Name</label>
            <input type="text" th:field="${province.name}">
        </div>
        <input type="submit" value="Edit Province">
    </form>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>