<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<h2>Edit Blog</h2>
<div id="form">
    <form th:action="@{/blog/edit}" method="post" th:object="${blog}">
        <input type="hidden" th:field="${blog.id}">
        <div>
            <label>Title</label>
            <input type="text" th:field="${blog.title}">
        </div>

        <div>
            <label>Content</label>
            <input type="text" th:field="${blog.content}">
        </div>

        <div>
            <label>Author</label>
            <input type="text" th:field="${blog.author}">
        </div>

        <div>
            <label>Date</label>
            <input type="text" th:field="${blog.date}">
        </div>

        <input type="submit" value="Edit Blog">
    </form>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>