<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thong tin san pham</h1>
    <div>
        <label>id</label>
        <p th:text="${product.id}" ></p>
    </div>

    <div>
        <label>name</label>
        <p th:text="${product.name}" ></p>
    </div>


    <div>
        <label>code</label>
        <p th:text="${product.code}" ></p>
    </div>

    <div>
        <label>date</label>
        <p th:text="${product.date}" ></p>
    </div>



</body>
</html>