<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>Trang Chu</h1>
        <p><a th:href="@{/product/create}">them moi san pham</a></p>
        <p><a th:href="@{/product/view}">view</a></p>

        <form th:action="@{/product/list}" method="post" >
           <tr th:each="product : ${productList}">
             stt :  <td th:text="${product.id}"> </td> ---
             Ten san pham :  <td th:text="${product.name}"></td>---
             Ma San Pham :  <td th:text="${product.code}"></td>---
             Ngay nhap hang :  <td th:text="${product.date}"></td>
               
               <td><a th:href="@{product/{id}/edit(id=${product.getId()})}">edit</a></td>
               <td><a th:href="@{product/{id}/delete(id=${product.getId()})}">delete</a></td>
               <td><a th:href="@{product/{id}/view(id=${product.getId()})}">view</a></td>
               <hr>
           </tr>
        </form>

        <p th:text="${message}"></p>
</body>
</html>