<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Delete Blog</title>
</head>
<body>
    <h2>Delete</h2>
    <div id="form">
        <form th:action="@{/blog/delete}" method="post" th:object="${blog}">
            <input type="hidden" th:field="${blog.id}">
            <div>
                <label>Title</label>
                <input type="text" th:field="${blog.title}" readonly="true">
            </div>

            <div>
                <label>Content</label>
                <input type="text" th:field="${blog.content}" readonly="true">
            </div>

            <div>
                <label>Author</label>
                <input type="text" th:field="${blog.author}" readonly="true">
            </div>

            <div>
                <label>Date</label>
                <input type="text" th:field="${blog.date}" readonly="true">
            </div>

            <input type="submit" value="Delete Blog">
        </form>
    </div>
    <footer th:replace="layout::footer"></footer>
</body>
</html>