<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<h2>Edit category</h2>
<div id="form">
    <form th:action="@{/category/edit}" method="post" th:object="${category}">
        <input type="hidden" th:field="${category.id}">
        <div>
            <label>Name Category</label>
            <input type="text" th:field="${category.nameCategory}">
        </div>

        <input type="submit" value="Edit Category">
    </form>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>